.header{
    margin-top: 10px;
}
.input{
    background-color: #EFEFEF;
    font-size: 16px;
    padding-left: 15px;
    margin: 2px;
    border: none;
}

.input::placeholder{
    color: #B9B9B9;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    height: 62px;
    border-radius: 12px;
    padding: 23px 27px;
    border: none;
    line-height: 124%;
    background-color: #EFEFEF;
}

.menu{
    display: flex;
    margin-left: 50px;
    font-size: 18px;
    font-weight: 500;
    color: #606060;
    gap: 70px;
}

.menu__item{
    text-decoration: none;
}

.img{
    margin: 0px 10px;
    border: 3px solid #B9B9B9;
    border-radius: 50px;
}

