.wrapper{
    width: 1248px;
    margin: 150px auto 217px;
}

.line{
    background-color: #D0D0D0;
    height: 2px;
    margin: 50px 0px;
}

.place{
    width: 43%;
    box-shadow: 15px 17px 40px #88888836;
    border-radius: 23px;
    padding: 70px 50px;
    background-color: #ffffff;
    
}

.description{
    width: 40%;
}

.p{
    margin: 10px 0px;
    color: #000;
    font-size: 20px;
    font-weight: 400;
}


.text{
    margin-top: 30px;
    color: #8C8C8C;
    font-size: 17px;
    font-weight: 400;
}

.tag{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 10px 0px;
}

.creat{
    margin: 50px 0px;
}

.time{
    border-radius: 12px;
    border: 1px solid #01010179;
    font-size: 18px;
    line-height: 124%;
    color: #010101;
    padding: 6px;
}

.div_time{
    display: flex;
    gap: 20px;
}



.price{
    margin-bottom: 50px;
}

.price_h1{
    font-size: 20px;
    font-weight: 400;
    color: #494949;
    margin-bottom: 10px;
}
.price_text{
    font-size: 25px;
    font-weight: 600;
}

.relative{
    position: relative;
}
.modal__wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
}

.modal{
    width: 700px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 1px 1px 3px #969696;
    border-radius: 20px;
    padding: 40px 60px;
}

.modal__title{
    font-size: 30px;
    color: #141416;
    font-weight: 600;
    text-align: center;
}

.modal__subtitle{
    margin: 30px 0 40px;
    color: #464646;
    font-size: 20px;
    font-weight: 400;
    text-align: center;

}

.bg{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .2);
}

.modal__btn{
    margin: 0 auto;
    width: 50%;
}