.div{
    width: 130px;
    padding: 15px 0px;
    text-align: center;
    background-color: #a38103c0;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 400;
    line-height: 124%;
    border-radius: 12px;
}