.select{
    width: 250px;
    display: block;
    height: 70px;
    border-radius: 12px;
    padding: 23px 27px;
    border: none;
    font-size: 17px;
    color: #141416;
    line-height: 124%;
    background-color: #EFEFEF;
    outline: none;
}

.name{
    display: block;
    font-weight: 500;
    font-size: 17px;
    line-height: 124%;
    margin-bottom: 20px;
}

.option{
    height: 62px;
    border-radius: 12px;
    padding: 23px 27px;
    border: none;
    font-size: 20px;
    color: #000000;
    line-height: 124%;
    background-color: #EFEFEF;
}
