.speaker {
    width: 216px;
    height: 360px;
    box-shadow: 15px 17px 40px #88888836;
    border-radius: 23px;
    padding: 15px 5px;
    background-color: #ffffff;
}


.div {
    width: 188px;
    height: 203px;
    margin: 0 auto;
}


.img {
    border-radius: 12px;
    width: 188px;
    height: 223px;
    object-fit: cover;
}

.role{
    color: #141416;
    font-size: 17px;
    font-weight: 900;
}

.name{
    color: #141416;
    font-size: 20px;
    margin: 5px 0px;
    font-weight: 600;
}
