.wrapper {
    width: 1248px;
    margin: 202px auto 217px;
}


.form {
    width: 50%;

}
.label{
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 124%;
    margin-bottom: 20px;
}
.combobox{
    background-color: #EFEFEF;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    padding: 12px 15px;
    width: 100%;
}

.p {
    display: block;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 20px;
    line-height: 124%;
    margin-bottom: 20px;
}

.text {
    display: flex;
    gap: 50px;
}

.button{
    width: 224px;
    height: 63px;

}

.download{
    margin: 0 auto;
    margin-top: 40px;
    height: 63px;
    width: 327px;
}

.program{
    width: 60%;
    margin-top: 50px;
}

.creat{
    width: 100%;
    
    margin-top: 50px;
}

.input{
    margin-top: 50px;
}

.date{
    margin-top: 50px;
}

.time{
    margin-top: 50px;
}

.banner{
    margin-top: 100px;
}

.ticket{
    display: flex;
    background-color: #EFEFEF;
    border-radius: 12px;
}

.money{
    border: none;
    background-color: #efefef00;
    font-size: 17px;
    line-height: 124%;
    color: #010101;
    padding-left: 15px;
}
.money::placeholder{
    font-size: 17px;
    color: #9596A6;
}
.div{
    width: 70%;
    margin-top: 50px;
}

.program_file{
    width: 100%;
    margin-top: 20px;
    background-color: #EFEFEF;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    padding: 23px 27px;
}

.label{
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 124%;
    margin-bottom: 20px;
}

.lable_div{
    margin-top: 50px;
    width: 60%;
}

.banner_div{
    width: 468px;
    height: 413px;
    background: #FCFCFD;
    box-shadow: 0px -81.98px 80px rgba(0, 0, 0, 0.05), 0px 81.9848px 81.9848px -61.4886px rgba(15, 15, 15, 0.1);
    border-radius: 30.7443px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}